
/* *******************************************  */
.container {
    padding: 1em;
    margin: 1em auto;
    border: 0.1em solid darkgrey;
    box-shadow: 0.1em 0.1em 0.1em darkgrey;
}

/* *******************************************  */
.blog-header h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.125em;
    font-weight: bold;
}

.blog-header h2 {
    font-size: 1em;
    text-align: center;
}

/* *******************************************  */
.blog-post {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid lightgrey;
}

.blog-post img {
    max-width: 100%;
}

.blog-post h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.1em;
}

.blog-post h4 {
    font-size: 1em;
    color: grey;
}

.blog-post button {
    box-shadow: 0.2em 0.2em 0.2em darkgrey;
}

/* *******************************************  */
#about-me {
    border-left: 0.1em solid lightgrey;
    padding-left: 0.8em;
}

#about-me img {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#about-me h3 {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}